.Create{
    font-family: var(--font-main);
    font-size: 1.5rem;
    border: transparent;
    border-radius: 5px;
    padding: 1.3rem 3rem;
    color: #fff;
    background-color: var(--color-primary);
    cursor: pointer;
    transition: all .25s ease-in-out;
    
    &:hover{
        background-color: rgba( #6571ff, $alpha: 0.8);
    }
    
    &:active{
        transform: scale(.9);
        background-color: var(--color-primary);
    }
}